<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Listado de Oficiales</title>
    </head>
    <body>
        <h1>Listado de Oficiales</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Numero de placa</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for officer in officers %}
                <tr>
                    <td>{{ officer.name }}</td>
                    <td>{{ officer.unique_id }}</td>
                    <td>
                        <form action="{{ url_for('admin.delete_officer', id=officer.id) }}" method="post">
                            <button type="submit" onclick="return confirm('¿Está seguro de querer eliminar este oficial?');">Eliminar</button>
                        </form>

                        <form action="{{ url_for('admin.edit_officer', id=officer.id) }}">
                            <button type="submit">Editar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        </br>

        <a href="{{ url_for('admin.create_officer') }}">Crear oficial</a>
        <a href="{{ url_for('admin.admin') }}">Volver</a>
    </body>
</html>
