<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Listado de Vehiculos</title>
    </head>
    <body>
        <h1>Listado de Vehiculos</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        
        <table>
            <thead>
                <tr>
                    <th>Patente</th>
                    <th>Marca</th>
                    <th>Color</th>
                    <th>Dueño</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for vehicle in vehicles %}
                <tr>
                    <td>{{ vehicle.license_plate }}</td>
                    <td>{{ vehicle.brand }}</td>
                    <td>{{ vehicle.color }}</td>
                    <td>{{ vehicle.owner.name }}</td>
                    <td>
                        <form action="{{ url_for('admin.delete_vehicle', id=vehicle.id) }}" method="post">
                            <button type="submit" onclick="return confirm('¿Está seguro de querer eliminar este vehiculo?');">Eliminar</button>
                        </form>

                        <form action="{{ url_for('admin.edit_vehicle', id=vehicle.id) }}">
                            <button type="submit">Editar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        </br>

        <a href="{{ url_for('admin.create_vehicle') }}">Crear vehiculo</a>
        <a href="{{ url_for('admin.admin') }}">Volver</a>
    </body>
</html>
